<nav class="bg-white shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

        <div class="flex space-y-5 justify-items-center ">
            <div class="flex-shrink-0 flex items-center-safe ">
                <span class="text-xl font-bold text-gray-800">Maruti<span class="text-amber-500">Frames</span></span>
            </div>
            <div class="hidden sm:ml-6 sm:flex sm:space-x-8 ms-auto">
                <a href="#home"
                    class="border-amber-500 text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Home</a>
                <a href="#services"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Services</a>
                <a href="#gallery"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Gallery</a>
                <a href="#contact"
                    class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Contact</a>
            </div>
        </div>

        <div class="-mr-2 flex items-center sm:hidden">
            <button ng-click="main.mobileMenuOpen = !main.mobileMenuOpen" type="button"
                class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none">
                <span class="sr-only">Open main menu</span>
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>

    </div>

    <div ng-show="main.mobileMenuOpen" class="sm:hidden">
        <div class="pt-2 pb-3 space-y-1">
            <a href="#home"
                class="bg-amber-50 border-amber-500 text-amber-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Home</a>
            <a href="#services"
                class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Services</a>
            <a href="#gallery"
                class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Gallery</a>

            <a href="#contact"
                class="border-transparent text-gray-500 hover:bg-gray-50 hover:border-gray-300 hover:text-gray-700 block pl-3 pr-4 py-2 border-l-4 text-base font-medium">Contact</a>
        </div>
    </div>
</nav>


<!-- 
<nav class="bg-red-600 shadow-md">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3">
            <span class="text-2xl font-semibold text-white">AluTrend Frames</span>
        </a>

       
        <div [ngClass]="{'hidden': !isMenuOpen, 'block': isMenuOpen}" class="w-full md:block md:w-auto"
            id="navbar-menu">
            <ul
                class="flex flex-col font-medium mt-4 rounded-lg bg-red-600 md:flex-row md:space-x-8 md:mt-0 md:bg-transparent">
                <li>
                    <a href="#home"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-red-700 md:hover:bg-transparent md:hover:text-gray-200"
                        (click)="closeMenu()">Home</a>
                </li>
                <li>
                    <a href="#services"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-red-700 md:hover:bg-transparent md:hover:text-gray-200"
                        (click)="closeMenu()">Services</a>
                </li>
                <li>
                    <a href="#gallery"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-red-700 md:hover:bg-transparent md:hover:text-gray-200"
                        (click)="closeMenu()">Gallery</a>
                </li>
                <li>
                    <a href="#contact"
                        class="block py-2 px-3 text-white rounded-sm hover:bg-red-700 md:hover:bg-transparent md:hover:text-gray-200"
                        (click)="closeMenu()">Contact</a>
                </li>
            </ul>
        </div>
        <button (click)="toggleMenu()" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-gray-200 z-10"
            aria-controls="navbar-menu" [attr.aria-expanded]="isMenuOpen">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path *ngIf="!isMenuOpen" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                <path *ngIf="isMenuOpen" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M1 1l15 12M1 13l15-12" />
            </svg>
        </button>
    </div>
</nav> -->